@using WebApplication.Web.Models.Account;
@model ConversationModel;

@{
    ViewData["Title"] = "Conversation";

}

<div id="chatbox">
    <h2>Conversation</h2>
    @foreach (Message message in Model.Messages)
    {
        @if (message.ReceiverId == Model.CurrentUser.Id)
        {
            <div class="message">
                <p class="receivedMessage">@Model.OtherUser.Username: @message.Text</p>
                <p class="receivedMessageDate">@message.DateSent</p>
            </div>
        }
        if (message.SenderId == Model.CurrentUser.Id)
        {
            <div class="message">
                <p class="sentMessage">@Model.CurrentUser.Username: @message.Text</p>
                <p class="sentMessageDate">@message.DateSent</p>
            </div>
        }

    }

    <div class="form-group">
        
    </div>

    <form method="post" action="/Account/Reply">
        <input type="hidden" value="@Model.OtherUser.Id" name="receiverId" />
        <input type="hidden" value="@Model.OtherUser.Username" name="username" />
        <input type="text" name="message" />
        <input style="background-color:darkorange" type="submit" value="Send Message" />

    </form>
</div>



<style>

    .receivedMessageDate {
        color: greenyellow;
        font-size: smaller
    }
    .sentMessageDate {
        text-align: right;
        color: greenyellow;
        font-size: smaller
    }
    .sentMessage {
        text-align: right;
        color: blue;
    }

    body {
        width: 100%;
        height: auto;
        background: url(../images/sheetmusic.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #8a6d3b;
    }

    .message {
        background-color: brown;
        border-style: solid;
        border-width: 5px;
        border-color: sienna;
        border-radius: 5px;
        padding: 5px;
        margin: 15px;
        color: khaki;
    }

    .Details {
        font: caption;
        padding: 10px;
    }

    #chatbox {
        background-color: navajowhite;
    }
</style>