@model Dictionary<string, Message>

@{
    ViewData["Title"] = "Inbox";

}

<div id="inbox">
    <h2>Inbox</h2>

    <div class="full-page">
        <p style="padding: 10px;">You have @Model.Count Message(s)</p>

        @foreach (KeyValuePair<string, Message> kvp in Model)
        {
        <div class="Message">
            <b>@kvp.Key</b>
            <div class="Details">
                <p>@kvp.Value.Text</p>
                @kvp.Value.DateSent
            </div>
            <form method="post" action="/Account/Conversation">
                <input type="hidden" value="@kvp.Key" name="sender"><br />
                <input type="submit" value="Reply" class="btn btn-default submit-button" style="margin-left: auto" />
            </form>

        </div>
        }
    </div>
</div>

<style>

    body {
        width: 100%;
        height: auto;
        background: url(../images/sheetmusic.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #8a6d3b;
    }

    .Message {
        background-color: brown;
        border-style: solid;
        border-width: 5px;
        border-color: sienna;
        border-radius: 5px;
        padding: 5px;
        margin: 15px;
        color: khaki;
    }

    .Details {
        font: caption;
        padding: 10px;
    }

    #inbox {
        background-color: navajowhite;
    }
</style>