@using WebApplication.Web.Models.Account;
@model ShowProfileModel
@{
    ViewData["Title"] = "PerspectiveDates";
}

<div class="full-page dates-bg">
    <img class="sheetmusicnotes" src="~/images/sheetmusic.jpg" />
    <div id=" memberImage" class="col-md-3">
        <h5><span id="cName">@Model.User.Username</span></h5>
        <a href="#" class="thumbnail">
            <img src="../../@Model.User.ProfilePic">
        </a>
        @*<p class="heart text-left">
            Favorite
            <a href="#">
                <span class="glyphicon glyphicon-heart"></span>
            </a>*@
        </p>
        @*<p class="music text-right">
            Exchange Notes
            <a href="#">
                <span class="glyphicon glyphicon-music"></span>*@
            </a>
        </p>
        <div class="text-center text-dark">
            <h5><strong>@Model.User.Age </strong>years old</h5>
            <h5>@Model.User.HomeCity, @Model.User.HomeState</h5>
            <h5>@Model.User.SelfDescription</h5>
        </div>

        <form method="post" action="/Account/BlockUser">
            <input type="hidden" value="@Model.User.Id" name="blockedUserId"><br />
            <input style="background-color:darkorange" type="submit" value="Block this User" />
            
        </form>

    </div>
</div> 

<div class="messagebox">
    <form method="post" action="/Account/AddNote">
        <input type="hidden" value="@Model.User.Id" name="pageId" />
        <input type="text" name="note" />
        <input style="background-color:darkorange" type="submit" value="Add Note" />

    </form>

    <ul>
        @foreach (Note note in Model.Notes)
        {
            <li class="hotnotes">@note.Text <i>(@note.DateSent)</i></li>
            <form method="post" action="/Account/DeleteNote">
                <input type="hidden" value="@Model.User.Id" name="pageId" />
                <input type="hidden" value="@note.NoteId" name="noteId" />
                <input style="background-color:darkorange" type="submit" value="Delete Note" />

            </form>
        }
    </ul>

    <br />
    <form method="post" action="/Account/SendMessage">
        <input type="hidden" value="@Model.User.Id" name="receiverId" />
        <input type="text" name="message" />
        <input style="background-color:darkorange" type="submit" value="Send Message" />

    </form>



</div>


    <style> 
        .sheetmusicnotes{ 
            width:100%;
        }
        .col-md-3 {
            margin-top: -137%;
            margin-left: 5%;
            background-color: black;
            border-style: outset;
            border-color: darkorange;
            border-width: thick; 
            
            
        } 
       
        

        .dates-bg {
            width: 100%;
            height: auto;
            background: url(../images/sheetmusic.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: #8a6d3b;
        }

        .bg-danger {
            background-color: #fcf8e3;
            margin-left: 5%;
            margin-right: 7%
        }

        #logoutColor {
            color: darkcyan;
        }

        .membersBio {
            background-color: antiquewhite;
            margin-left: 5%;
            margin-right: 5%;
        }


        .glyphicon-heart {
            color: red;
        }

        .noBullets {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block;
            text-align: left;
        }

        #cName {
            color: #bb635f;
        }

        .heart {
            font-size: x-small;
            color: #bb635f;
        }

        .music {
            font-size: x-small;
            color: #bb635f;
        } 
        .input{
            text-decoration-color:black;
        } 
        .messagebox{
            margin-top:-137%; 
            margin-left:50%; 
         
        } 
        .hotnotes{
            color:black; 
            font-size:medium; 
            font-weight:900;
        }
    </style>
